<section class="cart py-4">
  <div class="container">
    <h3 my-3>cart</h3>
    <table class="table my-3">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Description</th>
          <th scope="col">Quantity</th>
          <th scope="col">Remove</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartProducts">
          <th scope="row">
            <img
              [src]="item.thumbnail"
              alt=""
              [routerLink]="['/productDetails', item.id]"
            />
          </th>
          <td>{{ item.description }}</td>
          <td>
            <div class="d-flex align-items-center">
              <button class="btn" (click)="increaseQuantity(item)">+</button>
              <h5>{{ item.quantity }}</h5>
              <button class="btn" (click)="decreaseQuantity(item)">-</button>
            </div>
          </td>
          <td><button class="btn">x</button></td>
          <td>{{ item.price * item.quantity }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
